<div id="propos">
    <header>
        <app-header></app-header>
    </header>
    <h2>
        {{ h2 }}
    </h2>
    <div id="bloc">
        <h3>Nos origines :</h3>
        <div id="description">
            <p>
                Deux entrepreneurs, ou plutôt deux Gaulois, Pierre Lefèvre et Sophie Dubois, se sont associés pour créer Au Petit Village. Passionnés incontestés de la célèbre série de bandes dessinées, ils ont eu l'idée de vendre les plus belles figurines de l'univers d'Astérix et Obélix.            </p>
        </div>
    </div>
    
    <div id="bloc">
        <h3>Futur</h3>
        <div id="description">
            <p>
                Chez Au Petit Village, nous avons une vision unique et ambitieuse : partager notre passion pour l'aventure, le courage et l'amitié avec le monde entier, tout en honorant nos racines gauloises. Inspirés par Astérix et Obélix qui ont protégé leur village contre les envahisseurs, nous nous engageons à défendre nos valeurs fondamentales : authenticité, intégrité et camaraderie. Nous croyons en la force de la communauté et en la capacité de chacun à contribuer à notre mission commune. Ensemble, nous surmontons les obstacles, repoussons les frontières et dépassons les attentes pour offrir à nos clients une expérience incomparable. Notre objectif est de devenir les leaders incontestés de notre domaine, reconnus pour notre excellence, notre créativité et notre esprit d'équipe.
            </p>
        </div>
    </div>

    <div id="bloc">
        <h3>La culture de l'entreprise</h3>
        <div id="histoire">
            <p>
                <strong>Passion pour les héros :</strong> Au cœur de notre entreprise se trouve une véritable passion et admiration pour les personnages d'Astérix et Obélix. Chaque membre de notre équipe partage cet amour pour l'univers imaginé par Goscinny et Uderzo, ce qui se manifeste dans notre dévouement à offrir des figurines d'une qualité et d'une authenticité remarquables.
            </p>
            <p>
                <strong>Esprit d'innovation :</strong> Nous valorisons la créativité et l'innovation dans le design et la production de nos figurines. Nous nous efforçons constamment de trouver de nouvelles manières de capturer l'essence des personnages.
            </p>
            <p>
                <strong>Dévouement à l'excellence :</strong> Notre culture d'entreprise est centrée sur l'excellence et la précision. Chaque figurine est soigneusement élaborée pour assurer une qualité exceptionnelle.
            </p>
            <p>
                <strong>Préservation de l'héritage :</strong> Nous sommes engagés à préserver et à célébrer l'héritage de Goscinny et Uderzo. Nous collaborons étroitement avec les détenteurs des droits pour garantir que nos produits respectent fidèlement l'intégrité des personnages et de leur monde.
            </p>            
        </div>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>